export(timeSeq)
export(timeSeq.geneset)
export(timeSeq.genesetscreeplot)
export(timeSeq.heatmap)
export(timeSeq.permutate)
export(timeSeq.plot)
export(timeSeq.screeplot)
export(timeSeq.sort)
import(gss)
import(lattice)
import(pheatmap)
import(doParallel)
import(foreach)
import(reshape)
import(edgeR)
import(parallel)
