export(timeSeq)
export(timeSeq.heatmap)
export(timeSeq.permutate)
export(timeSeq.screeplot)
export(timeSeq.sort)
import(gss)
import(lattice)
import(pheatmap)
import(doParallel)
import(foreach)
import(reshape)
import(parallel)
import(grDevices)
import(graphics)
importFrom("stats", "rnbinom")