export(timeSeq)
export(timeSeq.heatmap)
export(timeSeq.screeplot)
export(timeSeq.sort)
import(gss)
import(lattice)
import(pheatmap)
import(reshape)
import(grDevices)
import(graphics)
importFrom("stats", "rnbinom")
